.AlarmHistoryFilter-container {
  .header {
    padding: 0 20px;
  }


  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-submit {
    margin: 20px 10px;
  }
}
