.SubNav-container {
  height: 50px;
  background: #fff;
  border-bottom: solid 2px #0073BB;
  box-shadow: inset 0 -20px 40px #d7d7d7;
  padding: 0 80px;
  display: flex;
  align-items: center;


  .breadcrumbs {
    line-height: 20px;
    font-size: 13px;
    color: #727272;
  }

  .currentPage {
    color: #0073BB;
  }
}
