.Magnifier-container {

}

.radioGroup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 35px;
  bottom: -65px;
  width: 80px;
}

.radio {
  display: flex;
  padding: 0;
  padding: 18px 0px;
  font-size: 18px;
}
