.LabelingToolDefectCodeList-container {
  width: 39%;
	float: right;
	overflow: hidden;
	border: 1px solid #0087DC;
	border-radius: 5px;
	padding: 0 0 10px 0;
	height: 215px;
	.cn{
    text-align: center;
  }
}
