.DefectCodeTabs-container {
  margin: 20px 0 ;

  .tabs {
    display: block;

    li {
      border-radius: 2px 2px 0 0;
      border: solid 1px #0087DC;
      padding: 0 10px;
      margin: -1px 0 0 -1px;
      display: inline-block;
    }
  }

  .tabPanels {
    margin: -1px -1px 0;
    border: solid 1px #0087DC;
  }

  .panel {
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .panel:hover {
    background: #0087DC;
    color: #fff;
  }
}
